/*Selector {
	Property: 
}*/

body {
	background-image: url(backgroundimage5.jpg);
	background-size: cover;
}
h2 {
	color: #130f40;
	text-align: center;
	border: -1px solid #95afc0;
	cursor: pointer;
}
p {
	color: #130f40;
	text-align: center;
}
li {
	list-style: none;
	display: inline-block;
	
}
